body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    /*max-width: 280px;*/
    border-radius: 18px !important;
    padding-left: 5px;
}

.container{
    width:100%
}

.container-fluid-nav {
    display: flex;
    justify-content: space-around;
}

.navbar-top .container-fluid-nav {
    border-top: 1px black solid;
    background-color: #eeeeee;
}

.navbar-bottom {
     min-height: 0px;
     margin-bottom: 0px; 
     border: 0px solid transparent;
}

.navbar-bottom .container-fluid-nav {
    /*border-bottom: 1px black solid;*/
    background-color: #f7f7f7;
}

.navbar-top a {
    color: black;
    font-size: x-large;
    font-weight: lighter;
}

#divDocInfo {
    background-color: #fcfcfc;
    height: 40%;
}

#divDocList {
    background-color: #5eb4b424;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    position:fixed;
}

#divSearchBar .form-group {
    margin-bottom: 0;
}

#divSearchBar {
    padding: 5px;
    background-color: #f7f7f7;
    opacity: 0.8;
}

#txtSearch{
    /*background-color:transparent;*/
}

#divDocumentList{
    margin-top:10px;
}

.list-group a {
    margin-top: 5px;
    border-radius: 30px !important;
}


