
@{
    ViewBag.Title = "OpenSky - Document Uploader";
}

<div class="navbar navbar-fixed-top navbar-top">
    <div id="" class="container-fluid-nav">
        <div id="" class="navbar-header">
            @Html.ActionLink("Open Sky - Document Uploader", "Index", "Document", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>
<div id="navbar-bottom" class="row">
    <div class="form-group form-group-sm col-sm-3" style="padding-right:0">
        <button type="button" class="btn btn-sm btn-default pull-right" style="margin-top:2px" onclick="ToggleDivCadastro();"><i class="fa fa-plus"></i></button>
    </div>
    <div class="form-group form-group-sm col-sm-6" onclick="ToggleDivCadastro();" style="cursor:pointer">
        <h5 id="headerNovoCadastro">Cadastrar Novo Documento</h5>
    </div>
</div>
<div id="navbar-notification" class="navbar" style="display:none">
    <div id="" class="container-fluid-nav">
        <div id="" class="navbar-header">
            <h5>Atenção! <b><span id="spnNotificacao"></span></b></h5>
            <button type="button" id="btnCancelarExclusao" class="btn btn-xs btn-danger" style="display:none;margin-bottom: 2px;" onclick="CancelarExclusao();"><i class="fa fa-remove" style="margin-right:5px;"></i>Cancelar</button>
        </div>
    </div>
</div>

<div class="container body-content">
    <div id="divDocInfo" class="row" style="display:none">
        <input type="hidden" id="hddIdDocumentoEdicao" class="form-control" />
        <div class="form-group form-group-sm col-sm-6 col-sm-offset-3">
            <div class="row">
                <div class="form-group form-group-sm col-sm-12">
                    <label>
                        Título:
                    </label>
                    <input type="text" id="txtTitulo" class="form-control" />
                </div>
                <div class="form-group form-group-sm col-sm-6" style="display:none">
                    <label>
                        Data da Ultima Modificação:
                    </label>
                    <input type="text" id="txtDataUltimaModificacao" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group form-group-sm col-sm-12">
                    <label>
                        Descrição:
                    </label>
                    <textarea id="txtDescricao" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-group-sm col-sm-4">
                    <label>
                        Versão:
                    </label>
                    <input type="text" id="txtVersao" class="form-control" />
                </div>
                <div class="form-group form-group-sm col-sm-4">
                    <div id="divLabelsArquivo">
                        <label>
                            Arquivo:
                        </label>
                        <label id="labelAdicionarNovoArquivo" class="pull-right" for="chkAdicionarNovoArquivo" style="font-weight: normal;">
                            <input type="checkbox" onchange="ToggleInputArquivo()" id="chkAdicionarNovoArquivo" style="margin-top: -2px; vertical-align: middle;" />
                            Adicionar Novo Arquivo
                        </label>
                    </div>
                    <div>
                        <input type="file" id="fileArquivo" class="form-control" />
                    </div>
                </div>
                <div class="form-group form-group-sm col-sm-4">
                    <button type="button" id="btnAdicionarDocument" onclick="SalvarDocumento();" class="btn btn-md btn-primary pull-right" style="margin-left: 3px;width:100%">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="divDocList" class="row">
        <div id="divSearchBar" class="row">
            <div class="form-group form-group-sm col-sm-6 col-sm-offset-3">
                <input type="text" id="txtBuscar" placeholder="Buscar" onkeydown="Pesquisa();" class="form-control" />
            </div>
            <button type="button" class="btn btn-sm btn-default" style="" onclick="BuscarDocumentos();"><i class="fa fa-search"></i></button>
        </div>
        <div id="divDocumentList" class="row list-group">

        </div>
    </div>
</div>
